html {
  scroll-behavior: smooth;
  background: #f8f9fc;
}

a {
  text-decoration: none;
}

.custom-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-margin {
  margin-left: 88px;
}

#content-wrapper {
  padding-bottom: 70px;
}

.slide-right {
  margin-left: 224px !important;
}

@media screen and (max-width: 640px) {
  .content-margin {
    margin-left: 0px;
  }
  .slide-right {
    margin-left: 0px !important;
  }
}

.nav-col a {
  color: #003366;
}

.sub {
  background: #fbfbfb;
}

.nav-stick {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 9;
}

.mob-fixed {
  position: fixed !important;
  top: 0;
  z-index: 9;
}

.sidebar.toggled .nav-item i {
  font-size: 18px !important;
}

.sidebar.toggled .sidebar-brand {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sidebar .nav-link {
  width: 100% !important;
}

@media screen and (max-width: 640px) {
  .mob-fixed {
    position: fixed !important;
    top: 70px;
    left: 0;
    z-index: 99;
  }
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    width: 100%;
  }
}

.main-sidebar {
  background-color: #1e1e2d;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  position: relative;
}

.main-sidebar .sidebar-toggler {
  position: absolute;
  right: 0;
  top: 21px;
  right: 16px;
  z-index: 11;
}

.entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.entries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 5px;
}

.tables-btn {
  border: 2px solid #79afff;
  color: #79afff;
  display: inline-block;
  border-radius: 4px;
  padding: 5px 15px;
  font-size: 14px;
  margin-right: 5px;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.tables-btn:hover {
  color: #79afff;
}

@media screen and (max-width: 640px) {
  .tables-btn {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
  }
  .entries {
    width: 100%;
  }
  .search-section {
    width: 100%;
  }
}

.nav-shade {
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.05);
}

.sidebar-dark #sidebarToggle {
  color: white;
}

.search-btn {
  background-color: #0c4aa6 !important;
  color: #f8f9fb !important;
}

.bg-blue {
  background-color: #054097 !important;
}

.bg-blue .collapse-header {
  color: #f8f9fb !important;
}

.bg-blue .collapse-item {
  color: #f8f9fb !important;
}

.bg-blue .collapse-item:hover {
  background-color: #054097 !important;
}

#notification-alert h6 {
  background-color: #0c4aa6 !important;
}

#notification-alert .show-all {
  background-color: #0c4aa6 !important;
  color: #f8f9fb !important;
}

#message-alert h6 {
  background-color: #0c4aa6 !important;
}

#message-alert .show-all {
  background-color: #0c4aa6 !important;
  color: #f8f9fb !important;
}

.fa-bell {
  color: #b3b3b3 !important;
}

.name {
  color: #000000 !important;
}

.user-info {
  background-color: #0c4aa6 !important;
}

.user-info i {
  color: #f8f9fb !important;
}

.user-info a {
  color: #f8f9fb !important;
}

.user-info a:hover {
  background-color: #0c4aa6 !important;
}

.modal-fixed-body {
  height: 560px !important;
  overflow-y: scroll;
}

.img-error {
  margin-top: 10px;
  color: #8c8c8c;
  font-size: 12px;
}

.no-overflow {
  overflow-x: unset !important;
  overflow-y: unset !important;
}

.drops {
  background: #1e1e2d;
}

.drops a {
  color: #f8f9fb !important;
}

.drops a:hover {
  background: #15151f !important;
}

.dash-breadcrumb {
  padding-bottom: 3px;
  margin-top: 0px;
  text-align: center;
}

.dash-breadcrumb a {
  color: #003366;
  font-size: 14px;
}

.dash-breadcrumb span {
  color: #a2a2a2;
  font-size: 14px;
}

.dash-breadcrumb .blog-5-arrow:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054";
  width: 20px;
  vertical-align: middle;
  padding: 0px 12px;
}

.dash-breadcrumb .blog-5-current {
  color: #a2a2a2;
  padding-bottom: 5px;
  font-weight: 600;
}

.dash-breadcrumb .blog-5-current:after {
  content: '';
  position: absolute;
}

.sidebar .nav-item .collapse,
.sidebar .nav-item .collapsing {
  margin: 0 0;
}

.sales-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #2196f3;
  color: #ffffff;
  position: relative;
  padding: 20px;
  border-radius: 12px;
}

.sales-card .sales-info {
  width: 100%;
}

.sales-card .sales-info .head-info {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.sales-card .sales-info .main-numbers {
  font-size: 30px;
}

.sales-card .sales-info .percent {
  font-size: 14px;
}

.sales-card .sales-figure img {
  width: 100%;
}

.sales-card .sales-icon {
  position: absolute;
  right: 20px;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  font-size: 70px;
}

.sales-card .sales-icon i {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff66;
}

/* Login // Register  */
.login-container {
  margin: 0 auto;
  width: 100%;
  max-width: 430px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.login-container .form-wrap {
  padding: 40px;
  text-align: center;
}

.login-container .form-wrap p {
  color: #989898;
  font-weight: 700;
}

.login-container .form-wrap .logo-pic {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 0px;
}

.login-container .form-wrap .logo-size {
  width: 230px;
}

.login-container .form-wrap .login-head {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 500;
  padding-top: 0px;
  color: #fff;
}

.login-container .form-wrap .log-form {
  padding-top: 10px;
}

.login-container .form-wrap .log-form .form-control {
  background: #ffffff;
  padding: 6px 18px;
  font-size: 14px;
}

.login-container .form-wrap .log-form .form-group {
  margin-bottom: 10px;
}

.login-container .form-wrap .log-form .reg-log {
  margin-top: 15px;
  margin-bottom: 0px;
  text-align: left;
}

.login-container .form-wrap .log-form .reg-log span {
  font-weight: bold;
  color: #2196f3;
  font-size: 20px;
}

.login-container .form-wrap .log-form .forgot {
  margin-top: 8px;
  margin-bottom: 0px;
  text-align: left;
  font-size: 12px;
  color: #e9e9e9;
  font-weight: 600;
}

.login-container .form-wrap .log-button {
  background: #006edd;
  color: #fff;
  font-weight: bold;
  border: 0;
  width: 100%;
}

.login-container .form-wrap .log-button:hover {
  color: #e2e2e2;
}

.login-container .form-wrap .or {
  margin-top: -29px;
  margin-bottom: 20px;
}

.login-container .form-wrap .or span {
  padding: 10px 10px;
  font-size: 12px;
  border-radius: 50%;
  color: white;
  background: #ff5959;
}

.login-container .form-wrap .btn-fb {
  background: #3366cc;
  color: #fff;
  width: 100%;
}

@media screen and (max-width: 640px) {
  /* Login // Register  */
  .login-container .form-wrap {
    padding: 20px;
  }
}

.form-group {
  position: relative;
}

.auto-field {
  display: block;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  left: 5px;
  right: 0;
  top: 100%;
  border-radius: 5px;
  margin: 5px 15px 0px 10px;
  border: 1px solid #e2e2e2;
  z-index: 2;
  color: #495057;
  background-color: #fff;
}

.auto-field ul {
  list-style: none;
  margin-bottom: 0px;
  padding: 0 0px 0 0;
  position: relative;
  font-size: 14px;
  width: 140px;
  height: 100%;
}

.auto-field ul li {
  padding-top: 3px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 3px;
  cursor: pointer;
}

.drop-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.drop-attr {
  display: block;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  left: 5px;
  right: 0;
  top: 100%;
  border-radius: 5px;
  margin-top: 7px;
  padding: 0px 0px 0px 0px;
  margin-right: 5px;
  border-bottom: 0;
  z-index: 9;
}

.drop-attr .drop-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #e2e2e2;
}

.drop-attr .list-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 3;
}

.drop-attr .drop-save {
  background: #0d6efd;
  color: #fff;
  margin-top: 5px;
  border-radius: 4px;
  padding: 8px 20px;
  z-index: 1094;
  width: 100px;
  cursor: pointer;
  text-align: center;
}

.drop-attr ul {
  list-style: none;
  margin-bottom: 0px;
  padding: 0 0px 0 0;
  position: relative;
  font-size: 14px;
  width: 160px;
  border-right: 1px solid #e2e2e2;
  height: 270px;
  overflow-y: auto;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.drop-attr ul::-webkit-scrollbar {
  width: 5px;
}

.drop-attr ul::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 50px;
}

.drop-attr ul::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

.drop-attr ul::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.drop-attr ul .search-box-attr {
  border-bottom: 1px solid #e2e2e2;
}

.drop-attr ul li {
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 10px;
  cursor: pointer;
  -webkit-transition: background 0.1s ease-in;
  transition: background 0.1s ease-in;
}

.drop-attr ul li:hover {
  background: #eeeeee;
}

.drop-attr ul li.active {
  background: #eeeeee;
  border-left: 3px solid #3366cc !important;
}

.drop-attr ul li.has-child span {
  position: relative;
  display: block;
  width: 100%;
}

.drop-attr ul li.has-child span::after {
  content: '\f054';
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  text-decoration: inherit;
  position: absolute;
  font-size: 12px;
  right: -6px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.drop-attr ul li.has-child ul.sub-menu {
  position: absolute;
  left: 100%;
  width: 140px;
  height: 100%;
  font-size: 14px;
  top: 0;
  z-index: 9;
  background: white;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
}

.fixed-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fixed-tab .tabs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  border: 1px solid #e2e2e2;
  border-bottom: 0;
  width: 90%;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.fixed-tab .tabs-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.fixed-tab .tabs-container ul li {
  width: 100%;
  text-align: center;
  padding: 12px 12px 12px 12px;
  cursor: pointer;
}

.fixed-tab .tabs-container ul li:hover {
  background: #e2e2e2;
}

.fixed-tab .tab-button {
  width: 10%;
  background: #0d6efd;
  color: #fff;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fixed-bar {
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  padding: 10px 0px;
  margin-bottom: 20px;
  margin-top: 0px;
  border-bottom: 1px solid #e4e7ed;
  border-top: 1px solid #e4e7ed;
  z-index: 8;
}

.fixed-bar .fixed-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  border: 1px solid #e2e2e2;
  border-bottom: 0;
  width: 90%;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.top-save {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-save span {
  width: 50%;
}

.top-save .save-nav {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.top-save .save-nav .product-nav {
  display: none;
}

@media screen and (max-width: 640px) {
  .top-save .save-nav .product-nav {
    margin-left: 8px;
    border-radius: 5px;
    padding: 0px 5px;
    color: #0d6efd;
    display: block;
  }
}

.save-button {
  display: inline-block;
  background: #003366;
  color: #fff;
  border-radius: 4px;
  padding: 8px 20px;
  z-index: 1094;
  cursor: pointer;
}

.anchor {
  padding-top: 108px;
  margin-top: -108px;
}

.float-tab ul {
  margin-left: 0;
  margin-bottom: 8px;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.float-tab ul li {
  position: relative;
  text-align: center;
  padding: 10px;
  margin-right: 10px;
  font-size: 12px;
  border-bottom: 2px solid #e2e2e2;
  border-right: 2px solid #e2e2e2;
}

.float-tab ul li::after {
  font-weight: 900;
  color: #d62929;
  content: '\f00d';
  font-family: 'Font Awesome 5 Free';
  margin-right: .1rem;
  font-size: 10px;
  position: absolute;
  right: -10px;
  top: 0px;
}

.float-tab-radius ul {
  margin-left: 0;
  margin-bottom: 8px;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.float-tab-radius ul li {
  border-radius: 12px;
  position: relative;
  text-align: center;
  padding: 5px 40px 5px 10px;
  margin-right: 10px;
  margin-bottom: 8px;
  font-size: 12px;
  border: 2px solid #e2e2e2;
}

.float-tab-radius ul li span {
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
  color: #d62929;
  margin-right: .1rem;
  font-size: 12px;
  position: absolute;
  right: -2px;
  border-left: 2px solid #e2e2e2;
  padding: 5px 8px 5px 8px;
  top: 0px;
  cursor: pointer;
}

.float-tab-radius ul li span:hover {
  background: #e2e2e2;
}

.sidelink {
  position: -webkit-sticky;
  position: sticky;
  z-index: 7;
  top: 157px;
  overflow-y: auto;
  height: 100vh;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.sidelink::-webkit-scrollbar {
  width: 5px;
}

.sidelink::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 50px;
}

.sidelink::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

.sidelink::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.sidelink p {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 5px;
  font-size: 15px;
}

.sidelink a {
  width: 100%;
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  padding: 2px 0px;
  color: #9c9c9c;
  font-size: 15px;
  -webkit-transition: color 0.1s ease-in;
  transition: color 0.1s ease-in;
  text-transform: capitalize;
}

.sidelink a::after {
  content: '';
  position: absolute;
  left: -10px;
  top: 0;
  bottom: 0;
  width: 3px;
  background: #3366cc;
  opacity: 0;
  -webkit-transition: opacity 0.1s ease-in;
  transition: opacity 0.1s ease-in;
}

.sidelink a:hover {
  color: #3366cc;
}

.sidelink a:hover::after {
  opacity: 1;
}

@media screen and (max-width: 640px) {
  .mob-side {
    position: fixed !important;
    right: 0;
    top: 132px;
    padding: 15px 15px 300px 15px;
    border-left: 1px solid #e2e2e2;
    width: 220px;
    z-index: 100;
    background: #ffffff;
    overflow-y: auto;
    height: 100%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.1s ease-in;
    transition: -webkit-transform 0.1s ease-in;
    transition: transform 0.1s ease-in;
    transition: transform 0.1s ease-in, -webkit-transform 0.1s ease-in;
  }
  .show-it {
    -webkit-transform: translateX(0%) !important;
            transform: translateX(0%) !important;
  }
}

.heading-top {
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
}

.heading-top-with-desc {
  font-size: 25px;
  text-align: center;
  margin-bottom: 12   px;
}

.info {
  color: #9c9c9c;
  text-align: center;
  margin-bottom: 15px;
}

.custom-card {
  width: 100%;
  padding: 35px 25px;
  position: relative;
  background: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.14);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.14);
  margin-bottom: 20px;
}

.custom-card .head {
  font-size: 25px;
  padding-bottom: 25px;
  font-weight: 500;
  padding-left: 15px;
  text-transform: capitalize;
}

.custom-card .card-float-btn {
  position: absolute;
  right: 40px;
  top: 32px;
  border: 2px solid #79afff;
  color: #79afff;
  border-radius: 4px;
  padding: 5px 15px;
  font-size: 14px;
  cursor: pointer;
}

.custom-card .card-normal-btn {
  display: inline-block;
  border: 2px solid #79afff;
  color: #79afff;
  border-radius: 4px;
  padding: 5px 15px;
  font-size: 14px;
  cursor: pointer;
}

.custom-card h3 {
  font-size: 1.2rem;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: .8rem;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: 100;
  color: #717171;
  margin-bottom: 5px;
  position: relative;
  font-size: 14px;
  margin-left: 5px;
}

.form-group .fa, .form-group .far, .form-group .fas {
  margin-right: 5px;
}

.form-group .measurement {
  position: absolute;
  bottom: 7px;
  right: 20px;
  color: #9c9c9c;
}

.question {
  font-size: 12px;
  margin-left: 2px;
  cursor: pointer;
  position: relative;
}

.question .tooltip-text {
  position: absolute;
  left: 100%;
  top: 0px;
  display: inline-block;
}

.form-padding {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.uploaded-single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.uploaded-single .selected {
  color: #495057;
  background-color: #fff;
  border-color: #8bbafe;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
}

.uploaded-single .selected::after {
  content: '\f00c';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  position: absolute;
  top: 0;
  right: 0;
  background: #0d6efd;
  padding: 0px 5px;
  color: #ffffff;
}

.uploaded-single li {
  width: 100px;
  position: relative;
  margin-right: 8px;
  margin-bottom: 8px;
  position: relative;
}

.uploaded-single li:hover::before {
  opacity: 1;
}

.uploaded-single li:hover i {
  opacity: 1;
}

.uploaded-single li::before {
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
}

.uploaded-single li i {
  opacity: 0;
  position: absolute;
  bottom: 8px;
  right: 8px;
  z-index: 2;
  cursor: pointer;
  font-size: 8px;
  border-radius: 50%;
  background: #dc3545;
  padding: 6px;
  color: #ffffff;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

.uploaded-single li img {
  width: 100%;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  color: #000;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: red;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.product-img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}

.dots-cont {
  position: relative;
  margin: 15px 0px;
}

.dots-cont .dots-info {
  display: none;
  position: absolute;
  top: 30px;
  right: 2px;
  width: 120px;
  font-size: 12px;
  border: 1px solid #e2e2e2;
  padding: 10px 15px;
  z-index: 1029;
  background: #ffffff;
  border-radius: 7px;
}

.dots-cont .dots-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dots-cont .dots-info ul li {
  margin-bottom: 8px;
}

.dots-cont .dots {
  font-size: 20px;
  color: #787878;
  display: inline;
  padding: 7px 10px;
  border: 1px solid #e2e2e2;
}

.dots-cont .dots:hover .dots-info {
  display: block;
}

.sticky-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.mid {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.load-animation {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 16px solid #cdebff;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.table-footer {
  padding: 20px;
}

.page-link {
  color: #003366;
}

.page-item.active .page-link {
  background-color: #003366;
  border-color: #003366;
}

.quiz__container {
  color: #000;
  background: #fff;
  padding: 40px 20px 20px 20px;
}

.quiz__container h1 {
  font-size: 24px;
  margin-bottom: 5px;
  text-align: center;
}

.quiz__container small {
  text-align: center;
  display: block;
  margin-bottom: 5px;
}

.quiz__container .quiz__question {
  font-size: 16px;
  display: block;
  padding: 15px 0px;
}

.quiz__container .quiz__languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quiz__container .quiz__languages .selected {
  background: #fff;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 15px;
  margin-right: 8px;
  border-radius: 8px;
}

.quiz__container .quiz__languages .not {
  background: #22346f !important;
  color: #ffffff !important;
}

.quiz__container .quiz__languages .hints {
  background: yellowgreen;
  width: 30px;
  height: 30px;
  color: #000;
  border-radius: 50%;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.quiz_choices_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
}

.quiz_choices_container .quiz__choices {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.quiz__answers_box {
  background: #F3F3F3;
  padding-bottom: 10px;
}

.quiz__answers_box .quiz__answer {
  padding: 15px 15px 0px 15px;
}

.quiz__answers_box .quiz__answer .quiz__answer_single {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  font-size: 14px;
  position: relative;
  -webkit-box-shadow: 0px 2px 9px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 9px 2px rgba(0, 0, 0, 0.1);
}

.quiz__answers_box .quiz__answer .select-default {
  border: 2px solid #2234f6;
}

.quiz__answers_box .quiz__answer .select-correct {
  border: 2px solid #328B53;
}

.quiz__answers_box .quiz__answer .select-incorrect {
  border: 2px solid #F91818;
}

.quiz__answers_box .quiz__answer .select-icon {
  position: absolute;
  top: -15px;
  right: 15px;
  color: white;
  border-radius: 50%;
}

.quiz__answers_box .quiz__answer .tick {
  padding: 5px 9px;
  background: #328B53;
}

.quiz__answers_box .quiz__answer .cross {
  padding: 5px 10px;
  background: #F91818;
}

.quiz__submit {
  background: #328B53;
  display: block;
  padding: 10px;
  font-size: 16px;
  margin: 15px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  border-radius: 4px;
}

.modal-footer i {
  margin-left: 5px;
  font-size: 12px;
}

.modal-title.correct {
  color: #328B53;
  font-weight: 900;
}

.answers__background {
  background: #f3f3f3;
  padding: 40px;
}

@media screen and (max-width: 990px) {
  .quiz__container {
    background: #22346F;
    color: #fff;
    padding: 10px 20px;
  }
  .quiz__container .quiz__languages .not {
    background: transparent !important;
    color: #fff !important;
  }
  .answers__background {
    padding: 0px;
  }
}

.completion_background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background: transparent;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.completion_background .score {
  text-align: center;
  color: #000;
}

.completion_background .score p {
  font-size: 30px;
  font-weight: 600;
}

.completion_background .finish__form {
  background: white;
  border-radius: 4px;
  width: 90%;
  padding: 20px;
  max-width: 600px;
  -webkit-box-shadow: 0px 2px 9px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 9px 2px rgba(0, 0, 0, 0.1);
}

.completion_background .share__now {
  color: #000;
  font-size: 24px;
}

.completion_background .share__now p {
  font-size: 20px;
  margin-top: 10px;
}

.completion_background .share__now i {
  margin-right: 10px;
}

.participate_background {
  height: 100% !important;
  background: transparent;
  padding: 20px 0px;
}

.navbar {
  background: #22346F !important;
  color: #fff !important;
  border-bottom: 1px solid #2f4693;
}

.navbar a {
  color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-toggler {
  padding: 0;
}

.navbar-toggler-icon {
  color: white;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-toggler-icon i {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/*
*
* ==========================================
* Banner
* ==========================================
*
*/
.banner-container {
  position: relative;
  height: 100%;
}

.banner-container:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

.banner-container img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner-container .banner-desc {
  max-width: 800px;
  position: absolute;
  left: 50px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #ffffff;
  padding: 10px 15px;
  z-index: 2;
}

.banner-container .banner-desc p {
  margin-bottom: 30px;
  font-size: 15px;
  color: #e8e8e8;
}

.banner-container .banner-desc h1 {
  font-size: 40px;
  margin-bottom: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #ffffff;
}

.link-button {
  color: #ffffff !important;
  padding: 15px 30px;
  border-radius: 4px;
  font-size: 16px;
  background: #22346f;
  text-decoration: none;
  display: inline-block;
}

.banner-breadcrumb {
  position: relative;
  height: 100%;
}

.banner-breadcrumb:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

.banner-breadcrumb img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner-breadcrumb .banner-desc {
  max-width: 800px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ffffff;
  padding: 10px 15px;
  z-index: 2;
}

.banner-breadcrumb .banner-desc p {
  margin-bottom: 30px;
  font-size: 15px;
  color: #e8e8e8;
}

.banner-breadcrumb .banner-desc h1 {
  font-size: 40px;
  margin-bottom: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #ffffff;
}

@media screen and (max-width: 640px) {
  .banner-container .banner-desc {
    left: 0px;
    padding: 10px 15px;
    z-index: 2;
  }
  .banner-container .banner-desc h1 {
    font-size: 50px;
  }
}

.heading-second {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 60px;
  font-weight: 600;
  color: #22346f;
  position: relative;
}

.heading-second::before {
  content: '';
  position: absolute;
  bottom: -14px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 70px;
  height: 4px;
  background: #22346f;
}

.heading-paragraph {
  font-size: 18px;
  margin: 30px 0px;
}

.about__image img {
  width: 100%;
}

.about__text {
  font-size: 18px;
}

.about__image__text__holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.we_are__section {
  background: #f6f6f6;
  padding: 1px;
  margin-top: 60px;
}

/* Why Us */
.services-wrap {
  padding: 30px;
  background: white;
  text-align: center;
}

.services-wrap h2 {
  font-size: 18px;
  color: black;
  font-weight: bold;
  margin-top: 5px;
  padding-bottom: 20px;
}

.services-wrap p {
  color: #686464;
  font-size: 16px;
  margin-bottom: 0;
}

.services-wrap i {
  color: #297cbb;
  font-size: 50px;
  padding-bottom: 20px;
}

.services-wrap img {
  padding-bottom: 20px;
  height: 70px;
}

.services-wrap a {
  text-decoration: none;
}

.services-wrap button {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: white;
  color: white;
  font-size: 12px;
  background: rgba(0, 0, 0, 0);
  padding: 10px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.services-wrap button:hover {
  background: white;
  color: black;
  font-weight: bold;
}

.tour-contact {
  margin-top: 20px;
}

.tour-contact .contact-info .contact-heading {
  position: relative;
}

.tour-contact .contact-info .contact-heading h2 {
  font-size: 25px;
  margin-bottom: 30px;
}

.tour-contact .contact-info .contact-heading:after {
  content: '';
  position: absolute;
  top: 35px;
  left: 0px;
  width: 40px;
  border: 1px solid #008080;
}

.tour-contact .contact-info .contact-icons i {
  color: #22346f;
  margin-right: 20px;
  font-size: 20px;
}

.btn-submit {
  background: #22346f;
  color: #ffffff;
  padding: 10px 40px;
  border: 0;
  border-radius: 25px;
}

/* Breadcrumnb bg */
.breadcrumb-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url("../src/images/quiz.jpg");
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50vh;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-size: cover;
  margin-top: -66px;
}

/* Breadcrumbs */
#breadcrumbs li a {
  color: #fff;
  text-decoration: none;
}

#breadcrumbs li a:hover {
  color: #fff;
  text-decoration: none;
  opacity: 0.7;
}

ul#breadcrumbs {
  margin: 0;
  padding: 0 0 0.2em 0;
  list-style: none;
  font-size: 12px;
  height: 16px;
  overflow: hidden;
}

ul#breadcrumbs li {
  margin: 0;
  padding: 0 0.5em 0 0;
  display: inline;
}

ul#breadcrumbs li:after {
  content: '\3E';
  margin-left: 0.3em;
  color: #a9a9a9;
}

ul#breadcrumbs li:last-child:after {
  content: none;
}

.bread-color {
  color: #a9a9a9 !important;
}

.formcontainer {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 15px;
  padding: 0px;
  border: 0px;
  font-size: 1em;
}

.formcontainer * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.formcontainer > input, .formcontainer > label {
  width: 100%;
  margin: 0;
  padding: 0.8em 0.8em 0.6em 0.8em;
}

.formcontainer > textarea, .formcontainer > label {
  width: 100%;
  margin: 0;
  padding: 0.8em 0.8em 0.6em 0.8em;
}

.formcontainer > input {
  border: 1px solid #22346f;
  border-radius: 4px;
  outline: none;
}

.formcontainer > textarea {
  border: 1px solid #22346f;
  border-radius: 4px;
  outline: none;
}

.formcontainer > label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  color: #ccc;
}

.formcontainer input:focus + label, .formcontainer input:valid + label {
  color: #22346f;
  font-size: 0.8em;
  width: auto;
  height: 1.3em;
  padding: 0px 0.5em 0px 0.5em;
  margin: 0px;
  /*outline: 1px solid red; /*for debugigng purposes only*/
  background: white;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  top: -10px;
  left: 1em;
}

.formcontainer textarea:focus + label, .formcontainer textarea:valid + label {
  color: #22346f;
  font-size: 0.8em;
  width: auto;
  height: 1.3em;
  padding: 0px 0.5em 0px 0.5em;
  margin: 0px;
  /*outline: 1px solid red; /*for debugigng purposes only*/
  background: white;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  top: -10px;
  left: 1em;
}

.formcontainer
.formp[-check-label] {
  top: 0 !important;
  left: 0 !important;
  font-size: 0.9em !important;
}
/*# sourceMappingURL=style.css.map */