// Colors
$blue: #0c4aa6 !important;
$deep-blue: #054097 !important;
$light-blue: #5588c3 !important;
$offWhite: #f8f9fb !important;
$vinsmoke: #f1f1f1 !important;

$smoke: #e5ecea !important;
$white: #ffffff;
$offSmoke: #b3b3b3 !important;
$black: #000000 !important;

$priblack: #1e1e2d;
// $primary: #0c4aa6;

$primary: #2196f3;
