@font-face {
  font-family: "lauren";
  src: url("../../css/fonts/Luren/Lorin-Regular.eot"); /* IE9 Compat Modes */
  src: url("../../css/fonts/Luren/Lorin-Regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../css/fonts/Luren/Lorin-Regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../../css/fonts/Luren/Lorin-Regular.woff")
      format("woff"),
    /* Pretty Modern Browsers */ url("../../css/fonts/Luren/Lorin-Regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../../css/fonts/Luren/Lorin-Regular.svg#svgFontName") format("svg"); /* Legacy iOS */
}

body {
  font-family: "lauren", sans-serif !important;
}
